# Локальные и временные файлы
.env
*.log
*.tmp
__pycache__/
.ipynb_checkpoints/

# Большие или исходные данные
data/raw/*
data/interim/
*.zip
*.7z
*.rar

# Разрешаем маленькие демонстрационные примеры
!data/sample/
!data/sample/*.csv
!data/sample/*.txt
